
<form method="post">
  {% csrf_token %}
  <label for="product_name">Введіть назву продукту:</label><br>
  <input type="text" id="product_name" name="product_name" required><br><br>
  


<div class = "checkbox-group required" required>
  <input type="checkbox" id = "shop1" name="shop" value="Сільпо">
  <label for="shop1"> Сільпо </label><br>
  <input type="checkbox" id = "shop2" name= "shop" value="Метро">
  <label for="shop2"> Метро </label><br>
  <input type="checkbox" id = "shop3" name="shop" value="АТБ">
  <label for="shop3">  АТБ </label><br><br>
</div>

<input type="submit" value="Отримати ціну">

</form>

