{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link href="{% static 'main/boxicons.min.css' %}" rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>{% block title%} Shop {% endblock%}</title>
</head>
<body>
   
         
       <header class="header">
        <div class="logo">
          <h2>Вітаємо</h2>
        </div>
        
        <nav>

          <a href = "#" class = "link">Рукавичка</a>
          <a href = "#silpo" class = "link">Сільпо</a>
          <a href = "#" class = "link">AТБ</a>
          <a href = "/about" class = "link">   Про</a>
        </nav>


       </header>
       <main>
        <section class = "search-content">
          <div class="search">
            <form class="form" method="POST">
              {% csrf_token %}
              <div class = "input-box">
              
                <input type="text" id="product_name" name="product_name" class="form-control" placeholder="Пошук..." aria-label="Search" required>
                <button class = "btn"><i class='bx bx-search'></i></button>
              </div>

              .
              <div class="checkbox">
                <div class = "checkbox-content">
                  <input type="checkbox" id = "shop1" name="shop" value="Сільпо">
                  <label for="shop1"> Сільпо </label>
                </div>
                <div class = "checkbox-content">
                <input type="checkbox" id = "shop2" name= "shop" value="Рукавичка">
                <label for="shop2"> Рукавичка </label>
                </div>
                <div class = "checkbox-content">
                <input type="checkbox" id = "shop3" name="shop" value="АТБ">
                <label for="shop3">  АТБ </label>
                </div>
              </div>
              
            </form>

          </div>
        </section>

       
                

      


        <div class = "content-shop">
        {% block content%} 
        
        
        
        {% endblock%}

      </div>
    </main>


    <footer>

    </footer>
</body>
</html>