{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Poppins&subset=latin,cyrillic">
    <link href="{% static 'main/boxicons.min.css' %}" rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>{% block title%} Shop {% endblock%}</title>

</head>
<body>
 
        
         
       <header class="header">
        <div class="logo">
          <button class="logo-button" onclick="location.href = '/'"><h2>Django-project-one</h2></button>
        </div>
        <nav class = "navigation"> 
        {% block navigation %}


        {% endblock %}
        </nav>
       </header>
            {% block messages%}


            {% endblock %}
      <main>
        <div class="registration">
        {% block form%}

        {% endblock %}
        </div>

        
        {% block wishlist-info %}

        {% endblock %}	

        <div class = "content-shop">
        {% block content%} 
        
        
        
        {% endblock%}
        </div>
        {% block wishlist%} 
        
        {% endblock%}
    </main>
</body>
</html>
<script type = "text/javascript" src="{% static 'main/check_wishlist.js'%}"></script>
<script type = "text/javascript" src="{% static 'main/delete_wishlist_objects.js'%}"></script>
<script type = "text/javascript" src="{% static 'main/dynamic_text_size.js'%}"></script>
<script type = "text/javascript" src="{% static 'main/edit_wishlist_object.js'%}"></script>
<script type = "text/javascript" src="{% static 'main/fetching_silpo_api.js'%}"></script>
<script type = "text/javascript" src="{% static 'main/highlight_wishlist_object.js'%}"></script>
<script type = "text/javascript" src="{% static 'main/login_animations.js'%}"></script>
<script type = "text/javascript" src="{% static 'main/modalWindow_iframe_map.js'%}"></script>
<script type = "text/javascript" src="{% static 'main/modalWindow_object_quantity.js'%}"></script>
<script type = "text/javascript" src="{% static 'main/swap_wishlist_objects.js'%}"></script>
<script type = "text/javascript" src="{% static 'main/upper_message_window.js'%}"></script>
<script type = "text/javascript">
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();

            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');
</script>
